<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8">
    <style>
             body {
            background-color:#ADD8E6;
        }
            h1 {
                font-family:cursive;
                font-size: 40pt;
                font-weight: 900;
                color:#4B0082;
            }
            div>a {
                font-size: xx-large;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 900;
                color:#4B0082;
            }
            div>p {
                font-size: 18pt;
            }
              form>p {
                font-size: small;
            }
            .logo {
                position: absolute;
                left: 768px;
                top: 135px;
            }
            td {
            width: 500px;
            height: 50px;
            }
            .FIO {
            width: 800px;
            }
            .sort {
            font-size: medium;
            }
    </style>
    <title>Список заблокированных пользователей</title>
</head>
<!--Поскольку защита на уровне методов (@Secured) не работает с Thymeleaf, а защита на уровне запросов (/admin, etc.) не позволяет
отобразить некоторые элементы статики в конкретном режиме (ADMIN, etc.) - пришлось выкручиваться так-->
<body sec:authorize="hasRole('ADMIN')">
<header>
    <h1>Гостевой дом Дельфин</h1>
    <img src=topBackground.jpg width=1900px height=228px>
</header>
<div>
    <img class=logo src="logo.jpg" width=364px height=228px>
</div>
<div>
    <a th:href="@{/mainPage}" title="Вернуться на главную страницу">Главная</a>
    <a th:href="@{/rooms}" title="Посмотреть описания номеров">Номера</a>
    <a th:href="@{/gallery}" title="Фото отеля и окрестностей">Галерея</a>
    <a th:href="@{/services}" title="Информация о дополнительных услугах">Услуги</a>
    <a th:href="@{/moderate}" title="Обработка поступивших запросов на бронирование">Модерация новых
        бронирований</a>
    <a th:href="@{/showModedGuests}" title="Показать историю обработанных бронирований">Глобальная история
        бронирований</a>
</div>
<table>
    <tr>
        <td><h3>Оперативный поиск</h3></td>
        <td>
            <form th:action="@{/findByName}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern=".{1,100}" name="name" placeholder="Введите ФИО" required/>
                <button type="submit">Найти бронь по ФИО</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByPhone}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern=".{1,100}" name="phone" placeholder="Введите номер телефона" required/>
                <button type="submit">Найти бронь по контактному номеру</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfPeoples}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество гостей" required/>
                <button type="submit">Найти по количеству запрашиваемых гостей</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfRooms}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество комнат" required/>
                <button type="submit">Найти по количеству запрашиваемых комнат</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfNights}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество ночей" required/>
                <button type="submit">Найти по количеству запрашиваемых ночей</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findAllInInterval}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <p>С: <input type="date" name="checkIn" placeholder="Введите дату заселения"
                             required/></p>
                <p>По: <input type="date" name="checkOut" placeholder="Введите дату выселения"
                              required/></p>
                <button type="submit">Найти всех за период времени</button>
            </form>
        </td>
    </tr>
</table>
<div th:if="${blockedGuests!=null}">
    <h3>Черный список пользователей</h3>
    <form th:action="@{/sortGuests}" method="post">
        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
        <p class="sort">Сортировать по: <select name="sortingType" type="hidden">
            <option value="ascIn">Возрастанию даты заселения (Чем позже - тем выше)</option>
            <option value="descIn">Убыванию даты заселения (Чем раньше - тем выше)</option>
            <option value="ascOut">Возрастанию даты выселения (Чем позже - тем выше)</option>
            <option value="descOut">Убыванию даты выселения (Чем раньше - тем выше)</option>
            <option value="ascName">ФИО (А-Я)</option>
            <option value="descName">ФИО (Я-А)</option>
            <option value="ascPeoples">Возрастанию количества гостей (Чем больше - тем выше)</option>
            <option value="descPeoples">Убыванию количества гостей (Чем меньше - тем выше)</option>
            <option value="ascRooms">Возрастанию количества комнат (Чем больше - тем выше)</option>
            <option value="descRooms">Убыванию количества комнат (Чем меньше - тем выше)</option>
            <option value="ascNights">Возрастанию количества ночей (Чем больше - тем выше)</option>
            <option value="descNights">Убыванию количества ночей (Чем меньше - тем выше)</option>
        </select></p>
        <button type="submit">Сортировать</button>
    </form>
    <table>
        <tr>
            <td class="FIO"><h5>ФИО</h5></td>
            <td><h5>Номер телефона</h5></td>
        </tr>
        <tr th:each="blockedGuest : ${blockedGuests}">
            <td class="FIO" th:text="${blockedGuest.name}"></td>
            <td th:text="${blockedGuest.phone}"></td>
            <td>
                <form th:action="'/blockGuest/'+${blockedGuest.id}" method="post">
                    <button type="submit" name="blocked" value="N">Убрать из чёрного списка</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{/saveHistoryInDoc}" method="post">
        <button type="submit" name="type" value="blackList" title="Сохранить чёрный список пользователей на устройстве">Скачать чёрный список</button>
    </form>
</div>
<div th:if="${blockedGuests==null}">
    <h3>Список заблокированных пользователей пуст.</h3>
</div>
</body>
<body sec:authorize="!(hasRole('ADMIN'))">
<h1>Не влезай - убъёт!!!</h1>
</body>
</html>