<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8">
    <style>
             body {
            background-color:#ADD8E6;
        }
            h1 {
                font-family:cursive;
                font-size: 40pt;
                font-weight: 900;
                color:#4B0082;
            }
            div>a {
                font-size: xx-large;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 900;
                color:#4B0082;
            }
            div>p {
                font-size: 18pt;
            }
            form>p {
                font-size: small;
            }
            .logo {
                position: absolute;
                left: 768px;
                top: 135px;
            }
            #in {
            width: 100px;
            }
            #out {
            width: 100px;
            }
            .editButton {
            width: 100px;
            }
            .moderateButton {
            height: 67px;
            width: 70px;
            }
            .name {
            width: 320px;
            }
            .phone {
            width: 235px;
            }
            .peoples {
            width: 145px;
            }
            .rooms {
            width: 130px;
            }
            .checkIn {
            width: 240px;
            }
            .checkOut {
            width: 240px;
            }
            .nights {
            width: 140px;
            }
            .info {
            width: 140px;
            }
            .inf {
            width: 200px;
            font-size: small;
            }
            .sort {
            font-size: medium;
            }
    </style>
    <title>Модерация бронирования</title>
</head>
<!--Поскольку защита на уровне методов (@Secured) не работает с Thymeleaf, а защита на уровне запросов (/admin, etc.) не позволяет
отобразить некоторые элементы статики в конкретном режиме (ADMIN, etc.) - пришлось выкручиваться так-->
<body sec:authorize="hasRole('ADMIN')">
<header>
    <h1>Гостевой дом Дельфин</h1>
    <img src=topBackground.jpg width=1900px height=228px>
</header>
<div>
    <img class=logo src="logo.jpg" width=364px height=228px>
</div>
<div>
    <a th:href="@{/mainPage}" title="Вернуться на главную страницу">Главная</a>
    <a th:href="@{/rooms}" title="Посмотреть описания номеров">Номера</a>
    <a th:href="@{/gallery}" title="Фото отеля и окрестностей">Галерея</a>
    <a th:href="@{/services}" title="Информация о дополнительных услугах">Услуги</a>
    <a th:href="@{/showModedGuests}" title="Показать историю обработанных бронирований">Глобальная история
        бронирований</a>
    <a th:href="@{/blackList}" title="Список заблокированных пользователей">Чёрный список</a>
</div>
<table>
    <tr>
        <td><h3>Оперативный поиск</h3></td>
        <td>
            <form th:action="@{/findByName}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern=".{1,100}" name="name" placeholder="Введите ФИО" required/>
                <button type="submit">Найти бронь по ФИО</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByPhone}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern=".{1,100}" name="phone" placeholder="Введите номер телефона" required/>
                <button type="submit">Найти бронь по контактному номеру</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfPeoples}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество гостей" required/>
                <button type="submit">Найти по количеству запрашиваемых гостей</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfRooms}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество комнат" required/>
                <button type="submit">Найти по количеству запрашиваемых комнат</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findByAmountOfNights}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <input type="text" pattern="\d+" name="amount" placeholder="Введите количество ночей" required/>
                <button type="submit">Найти по количеству запрашиваемых ночей</button>
            </form>
        </td>
        <td>
            <form th:action="@{/findAllInInterval}" method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
                <p>С:<input type="date" name="checkIn" placeholder="Введите дату заселения"
                            required/></p>
                <p>По:<input type="date" name="checkOut" placeholder="Введите дату выселения"
                             required/></p>
                <button type="submit">Найти всех в этот период времени</button>
            </form>
        </td>
    </tr>
</table>
<div th:if="${!(notModedGuests==null)}">
    <h3>Список необработанных заявок на бронирование</h3>
    <form th:action="@{/sortGuests}" method="post">
        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
        <p class="sort">Сортировать по: <select name="sortingType" type="hidden">
        <option value="ascIn">Возрастанию даты заселения (Чем позже - тем выше)</option>
        <option value="descIn">Убыванию даты заселения (Чем раньше - тем выше)</option>
        <option value="ascOut">Возрастанию даты выселения (Чем позже - тем выше)</option>
        <option value="descOut">Убыванию даты выселения (Чем раньше - тем выше)</option>
        <option value="ascName">ФИО (А-Я)</option>
        <option value="descName">ФИО (Я-А)</option>
        <option value="ascPeoples">Возрастанию количества гостей (Чем больше - тем выше)</option>
        <option value="descPeoples">Убыванию количества гостей (Чем меньше - тем выше)</option>
        <option value="ascRooms">Возрастанию количества комнат (Чем больше - тем выше)</option>
        <option value="descRooms">Убыванию количества комнат (Чем меньше - тем выше)</option>
        <option value="ascNights">Возрастанию количества ночей (Чем больше - тем выше)</option>
        <option value="descNights">Убыванию количества ночей (Чем меньше - тем выше)</option>
    </select></p>
        <button type="submit">Сортировать</button>
    </form>
    <table>
        <tr>
            <td class="name"><h5>ФИО</h5></td>
            <td class="phone"><h5>Номер телефона</h5></td>
            <td class="peoples"><h5>Количество человек</h5></td>
            <td class="rooms"><h5>Количество комнат</h5></td>
            <td class="checkIn"><h5>Дата и время заселения</h5></td>
            <td class="checkOut"><h5>Дата и время выселения</h5></td>
            <td class="nights"><h5>Количество ночей</h5></td>
            <td class="info"><h5>Дополнительная информация</h5></td>
        </tr>
    </table>
    <table>
        <tr th:each="notModedGuest : ${notModedGuests}">
            <td th:text="${notModedGuest.name}"></td>
            <td>
                <form th:action="'/editGuestsName/'+${notModedGuest.id}" method="post">
                    <input type="text" size="10" pattern=".{1,100}" name="name" placeholder="Новые ФИО" required>
                    <button class="editButton" type="submit">Изменить ФИО</button>
                </form>
            </td>
            <td th:text="${notModedGuest.phone}"></td>
            <td>
                <form th:action="'/editGuestsPhone/'+${notModedGuest.id}" method="post">
                    <input type="text" size="5" pattern="\d{1,25}" name="phone" placeholder="Новый номер телефона"
                           required>
                    <button class="editButton" type="submit">Изменить контактный номер</button>
                </form>
            </td>
            <td th:text="${notModedGuest.amountOfPeoples}"></td>
            <td>
                <form th:action="'/editGuestsAmountOfPeoples/'+${notModedGuest.id}" method="post">
                    <input type="text" size="5" pattern="^[1-9]\d*$" name="amount"
                           placeholder="Новое количество человек"
                           required>
                    <button class="editButton" type="submit">Изменить количество гостей</button>
                </form>
            </td>
            <td th:text="${notModedGuest.amountOfRooms}"></td>
            <td>
                <form th:action="'/editGuestsAmountOfRooms/'+${notModedGuest.id}" method="post">
                    <input type="text" size="5" pattern="^[1-9]\d*$" name="amount" placeholder="Новое количество комнат"
                           required>
                    <button class="editButton" type="submit">Изменить количество комнат</button>
                </form>
            </td>
            <td th:text="${notModedGuest.checkIn}"></td>
            <td>
                <form th:action="'/editGuestsCheckIn/'+${notModedGuest.id}" method="post">
                    <input type="datetime-local" id="in" name="checkIn"
                           placeholder="Новые дата и время заселения" required>
                    <button class="editButton" type="submit">Изменить дату и время заселения</button>
                </form>
            </td>
            <td th:text="${notModedGuest.checkOut}"></td>
            <td>
                <form th:action="'/editGuestsCheckOut/'+${notModedGuest.id}" method="post">
                    <input type="datetime-local" id="out" name="checkOut"
                           placeholder="Новые дата и время выселения" required>
                    <button class="editButton" type="submit">Изменить дату и время выселения</button>
                </form>
            </td>
            <td th:text="${notModedGuest.amountOfNights}"></td>
            <td>
                <form th:action="'/editGuestsAmountOfNights/'+${notModedGuest.id}" method="post">
                    <input type="text" pattern="^[1-9]\d*$" size="5" name="amount"
                           placeholder="Новое количество ночей" required>
                    <button class="editButton" type="submit">Изменить количество ночей</button>
                </form>
            </td>
            <td class="inf" th:text="${notModedGuest.info}"></td>
            <td>
                <form th:action="'/deleteGuest/'+${notModedGuest.id}" method="post">
                    <button class="moderateButton" type="submit">Удалить бронь</button>
                </form>
            </td>
            <td>
                <form th:action="'/confirmGuest/'+${notModedGuest.id}" method="post">
                    <button class="moderateButton" type="submit" name=booked value="Y">Подтвер- дить бронь</button>
                </form>
            </td>
            <td>
                <form th:action="'/blockGuest/'+${notModedGuest.id}" method="post">
                    <button class="moderateButton" type="submit" name="blocked" value="Y">Добавить в чёрный список
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div th:if="${notModedGuests==null}">
    <h3>Поздравляем! На данный момент необработанных заявок на бронирование нет</h3>
</div>
</body>
<body sec:authorize="!(hasRole('ADMIN'))">
<h1>Не влезай - убъёт!!!</h1>
</body>
</html>